/* purgecss start ignore */
@import '~tailwindcss/base.css'
@import '~tailwindcss/components.css'
/* purgecss end ignore */

@import '~tailwindcss/utilities.css'

* {
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
}
