@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

main > * {
    grid-column: 2;
}

.full-bleed {
    width: 90% !important;
    max-width: none;
    grid-column: 1 / 4;
    margin: 0 auto;
}
